@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-900 text-slate-100 antialiased;
}

* {
  @apply border-slate-800;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}
